body {
  margin: 0px;
  background-color: #fcfdff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: rgba(255, 102, 209, 0.493);
  margin: 20px;
  border-radius: 15px;
  border: 5px solid rgb(255, 76, 195);
}

img {
  display: none;
}
